#!/usr/bin/make -f
#export DH_VERBOSE = 1

export DEB_BUILD_MAINT_OPTIONS=hardening=+all

CFLAGS += -D_LARGEFILE64_SOURCE=1 -D_LARGEFILE_SOURCE=1 -D_FILE_OFFSET_BITS=64
CXXFLAGS += -D_LARGEFILE64_SOURCE=1 -D_LARGEFILE_SOURCE=1 -D_FILE_OFFSET_BITS=64

%:
	dh $@ --buildsystem=cmake --parallel --with python2

override_dh_auto_configure:
	dh_auto_configure -- \
	    -DWANT_HUNSPELL=1 \
	    -DWANT_DISTROBUILD:BOOL=1 \
	    -DWANT_NORPATH:BOOL=1 \
	    -DCMAKE_SKIP_RPATH:BOOL=1 \
	    -DWANT_VERSIONING:BOOL=0 \

override_dh_auto_install:
	dh_auto_install
	mv -v $(CURDIR)/debian/scribus/usr/share/scribus/scripts/ChangeLog $(CURDIR)/debian/scribus/usr/share/doc/scribus/ChageLogScrips
	mv -v $(CURDIR)/debian/scribus/usr/share/scribus/icons/scribus.png $(CURDIR)/debian/scribus/usr/share/pixmaps/scribus.png
	rm -v $(CURDIR)/debian/scribus/usr/share/doc/scribus/ChangeLogSVN \
	      $(CURDIR)/debian/scribus/usr/share/doc/scribus/AUTHORS \
	      $(CURDIR)/debian/scribus/usr/share/doc/scribus/BUILDING \
	      $(CURDIR)/debian/scribus/usr/share/doc/scribus/ChangeLog \
	      $(CURDIR)/debian/scribus/usr/share/doc/scribus/PACKAGING \
	      $(CURDIR)/debian/scribus/usr/share/doc/scribus/NEWS \
	      $(CURDIR)/debian/scribus/usr/share/doc/scribus/TODO \
	      $(CURDIR)/debian/scribus/usr/share/doc/scribus/COPYING \
	      $(CURDIR)/debian/scribus/usr/share/scribus/scripts/NEWS \
	      $(CURDIR)/debian/scribus/usr/share/scribus/scripts/TODO
	find $(CURDIR)/debian/scribus -type d -empty -delete
	# remove references to prorietary fonts and use free fonts in templates. See https://bugs.debian.org/742003
	gunzip -v $(CURDIR)/debian/scribus/usr/share/scribus/templates/*/*.sla.gz
	sed -i $(CURDIR)/debian/scribus/usr/share/scribus/templates/*/*.sla \
		-e 's/Arial Regular/Liberation Sans Regular/g' \
		-e 's/Arial Black Regular/Liberation Sans Bold/g' \
		-e 's/FreeSans Medium/Liberation Sans Bold/g'
	gzip -v -n -8 $(CURDIR)/debian/scribus/usr/share/scribus/templates/*/*.sla

override_dh_fixperms:
	dh_fixperms
	chmod -v 755 $(CURDIR)/debian/scribus/usr/lib/scribus/plugins/*.so
	chmod -v 755 $(CURDIR)/debian/scribus/usr/lib/scribus/plugins/*/*.so

